.header{
    margin: 2rem 2rem 2rem 2rem;
    padding: 3rem;
    border-radius: .5rem;

    &_content{

    }
    &_logo-box{

    } 
    &_logo{ 
          height: 13 rem;
    }

} 
.float{
    float: left;
}